.App {
  text-align: center;
  font-size: calc(6px + 2vmin);
}

main > .container:first-child,
main > .container-fluid:first-child,
main > .container:first-of-type,
main > .container-fluid:first-of-type{
  padding: calc(3rem + 3vh) 0 0;
}

.App-header {
  
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 4rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  max-height: 32rem;
}

.carousel-item > img {
  min-width: 100%;
}

/* SIGN IN */
/* -------------------------------------------------- */
.login-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (calc(3rem + 3vh)));

}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Spinner */
.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8); /* semi-transparent white background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's on top of other elements */
}

/* CUSTOM MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}

.modal-header button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}